import init.p920.usb.rc

on early-init
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    symlink /storage/sdcard0 /sdcard

on init

sysclktz 0

loglevel 3

    export EXTERNAL_STORAGE /storage/sdcard0

    wait /dev/block/mmcblk0p2

    mkdir /misc 0771 system misc
    mkdir /lgdrm 0770 system system

    mkdir /sqlite_stmt_journals 01777 root root
    mount tmpfs tmpfs /sqlite_stmt_journals size=4m

    # change permissions for alsa nodes
    symlink /dev/snd/pcmC0D0c /dev/pcmC0D0c
    symlink /dev/snd/pcmC0D0p /dev/pcmC0D0p
    symlink /dev/snd/controlC0 /dev/controlC0
    symlink /dev/snd/timer /dev/timer
    chmod 0777 /dev/pcmC0D0c
    chmod 0777 /dev/pcmC0D0p
    chmod 0777 /dev/controlC0
    chmod 0777 /dev/timer

### LGE STUFFS
    chown root radio /proc/cmdline
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0020/gripsuppression
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0020/handsuppression
    chown system radio /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0036/brightness
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0036/enable
    chown system radio /sys/devices/platform/keypad_led/leds/keyboard-backlight/brightness
    chown system radio /sys/devices/platform/omap-keypad/key_test_mode
    chown system radio /sys/devices/platform/i2c_omap.4/i2c-4/4-0068/cal_onoff
    chown system radio /misc/cal.bin

    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/atime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/ptime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/wtime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/ppcount
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pers
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pilt
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/piht
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/GA
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/DF
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pdata
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/interrupt_als
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/interrupt_prox
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/proxidata
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/luxdata
	
###ICS V30A MOD defcomg

    chown system graphics /sys/class/graphics/fb0/overlays
    chown system graphics /sys/class/graphics/fb0/fit_to_screen
    chown system graphics /sys/class/graphics/fb0/overlays_rotate
	chown system graphics /sys/class/graphics/fb0/rotate
	chown system graphics /sys/class/graphics/fb0/rotate_type
	chown system graphics /sys/class/graphics/fb0/mirror
	chown system graphics /sys/class/graphics/fb0/size
    chown system graphics /sys/class/graphics/fb1/rotate
	chown system graphics /sys/class/graphics/fb1/rotate_type
	chown system graphics /sys/class/graphics/fb1/mirror

    chown root graphics /dev/graphics/fb0
    chown root graphics /dev/graphics/fb1
    chmod 0775 /dev/graphics/fb0
    chmod 0775 /dev/graphics/fb1
	
	#Overlay0
	chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay0/global_alpha
	chown system system /sys/devices/platform/omapdss/overlay0/input_size
	chown system system /sys/devices/platform/omapdss/overlay0/manager
	chown system system /sys/devices/platform/omapdss/overlay0/output_size
	chown system system /sys/devices/platform/omapdss/overlay0/position
	chown system system /sys/devices/platform/omapdss/overlay0/pre_mult_alpha
	chown system system /sys/devices/platform/omapdss/overlay0/screen_width
	chown system system /sys/devices/platform/omapdss/overlay0/x_decim
	chown system system /sys/devices/platform/omapdss/overlay0/y_decim
	chown system system /sys/devices/platform/omapdss/overlay0/update_mode
	
	chmod 0777 /sys/devices/platform/omapdss/overlay0/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay0/global_alpha
	chmod 0777 /sys/devices/platform/omapdss/overlay0/input_size
	chmod 0777 /sys/devices/platform/omapdss/overlay0/manager
	chmod 0777 /sys/devices/platform/omapdss/overlay0/output_size
	chmod 0777 /sys/devices/platform/omapdss/overlay0/position
	chmod 0777 /sys/devices/platform/omapdss/overlay0/pre_mult_alpha
	chmod 0777 /sys/devices/platform/omapdss/overlay0/screen_width
	chmod 0777 /sys/devices/platform/omapdss/overlay0/x_decim
	chmod 0777 /sys/devices/platform/omapdss/overlay0/y_decim
	chmod 0777 /sys/devices/platform/omapdss/overlay0/update_mode
	
	#Overlay1
	chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/global_alpha
	chown system system /sys/devices/platform/omapdss/overlay1/input_size
	chown system system /sys/devices/platform/omapdss/overlay1/manager
	chown system system /sys/devices/platform/omapdss/overlay1/output_size
	chown system system /sys/devices/platform/omapdss/overlay1/position
	chown system system /sys/devices/platform/omapdss/overlay1/pre_mult_alpha
	chown system system /sys/devices/platform/omapdss/overlay1/screen_width
	chown system system /sys/devices/platform/omapdss/overlay1/x_decim
	chown system system /sys/devices/platform/omapdss/overlay1/y_decim
	chown system system /sys/devices/platform/omapdss/overlay1/update_mode
	
	chmod 0777 /sys/devices/platform/omapdss/overlay1/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay1/global_alpha
	chmod 0777 /sys/devices/platform/omapdss/overlay1/input_size
	chmod 0777 /sys/devices/platform/omapdss/overlay1/manager
	chmod 0777 /sys/devices/platform/omapdss/overlay1/output_size
	chmod 0777 /sys/devices/platform/omapdss/overlay1/position
	chmod 0777 /sys/devices/platform/omapdss/overlay1/pre_mult_alpha
	chmod 0777 /sys/devices/platform/omapdss/overlay1/screen_width
	chmod 0777 /sys/devices/platform/omapdss/overlay1/x_decim
	chmod 0777 /sys/devices/platform/omapdss/overlay1/y_decim
	chmod 0777 /sys/devices/platform/omapdss/overlay1/update_mode
	
	#Overlay2
	chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/global_alpha
	chown system system /sys/devices/platform/omapdss/overlay2/input_size
	chown system system /sys/devices/platform/omapdss/overlay2/manager
	chown system system /sys/devices/platform/omapdss/overlay2/output_size
	chown system system /sys/devices/platform/omapdss/overlay2/position
	chown system system /sys/devices/platform/omapdss/overlay2/pre_mult_alpha
	chown system system /sys/devices/platform/omapdss/overlay2/screen_width
	chown system system /sys/devices/platform/omapdss/overlay2/x_decim
	chown system system /sys/devices/platform/omapdss/overlay2/y_decim
	chown system system /sys/devices/platform/omapdss/overlay2/update_mode
	
	chmod 0777 /sys/devices/platform/omapdss/overlay2/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay2/global_alpha
	chmod 0777 /sys/devices/platform/omapdss/overlay2/input_size
	chmod 0777 /sys/devices/platform/omapdss/overlay2/manager
	chmod 0777 /sys/devices/platform/omapdss/overlay2/output_size
	chmod 0777 /sys/devices/platform/omapdss/overlay2/position
	chmod 0777 /sys/devices/platform/omapdss/overlay2/pre_mult_alpha
	chmod 0777 /sys/devices/platform/omapdss/overlay2/screen_width
	chmod 0777 /sys/devices/platform/omapdss/overlay2/x_decim
	chmod 0777 /sys/devices/platform/omapdss/overlay2/y_decim
	chmod 0777 /sys/devices/platform/omapdss/overlay2/update_mode
	
	#OverLay3
	chown system system /sys/devices/platform/omapdss/overlay3/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/global_alpha
	chown system system /sys/devices/platform/omapdss/overlay3/input_size
	chown system system /sys/devices/platform/omapdss/overlay3/manager
	chown system system /sys/devices/platform/omapdss/overlay3/output_size
	chown system system /sys/devices/platform/omapdss/overlay3/position
	chown system system /sys/devices/platform/omapdss/overlay3/pre_mult_alpha
	chown system system /sys/devices/platform/omapdss/overlay3/screen_width
	chown system system /sys/devices/platform/omapdss/overlay3/x_decim
	chown system system /sys/devices/platform/omapdss/overlay3/y_decim
	chown system system /sys/devices/platform/omapdss/overlay3/update_mode
	
	chmod 0777 /sys/devices/platform/omapdss/overlay3/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay3/global_alpha
	chmod 0777 /sys/devices/platform/omapdss/overlay3/input_size
	chmod 0777 /sys/devices/platform/omapdss/overlay3/manager
	chmod 0777 /sys/devices/platform/omapdss/overlay3/output_size
	chmod 0777 /sys/devices/platform/omapdss/overlay3/position
	chmod 0777 /sys/devices/platform/omapdss/overlay3/pre_mult_alpha
	chmod 0777 /sys/devices/platform/omapdss/overlay3/screen_width
	chmod 0777 /sys/devices/platform/omapdss/overlay3/x_decim
	chmod 0777 /sys/devices/platform/omapdss/overlay3/y_decim
	chmod 0777 /sys/devices/platform/omapdss/overlay3/update_mode
	
	
	#Display0
    chown system system /sys/devices/platform/omapdss/display0/3D_display
    chown system system /sys/devices/platform/omapdss/display0/backlight
	chown system system /sys/devices/platform/omapdss/display0/cabc_available_modes
	chown system system /sys/devices/platform/omapdss/display0/cabc_mode
	chown system system /sys/devices/platform/omapdss/display0/enabled
	chown system system /sys/devices/platform/omapdss/display0/esd_interval
	chown system system /sys/devices/platform/omapdss/display0/tear_elim
	chown system system /sys/devices/platform/omapdss/display0/timings
	chown system system /sys/devices/platform/omapdss/display0/uevent
	chown system system /sys/devices/platform/omapdss/display0/ulps
	chown system system /sys/devices/platform/omapdss/display0/ulps_timeout
	chown system system /sys/devices/platform/omapdss/display0/update_mode
	chown system system /sys/devices/platform/omapdss/display0/wss
	
	chmod 0777 /sys/devices/platform/omapdss/display1/3D_display
    chmod 0777 /sys/devices/platform/omapdss/display1/backlight
	chmod 0777 /sys/devices/platform/omapdss/display1/cabc_available_modes
    chmod 0777 /sys/devices/platform/omapdss/display1/cabc_mode
	chmod 0777 /sys/devices/platform/omapdss/display1/enabled
    chmod 0777 /sys/devices/platform/omapdss/display1/s3d_type
	chmod 0777 /sys/devices/platform/omapdss/display1/esd_interval
    chmod 0777 /sys/devices/platform/omapdss/display1/tear_elim
	chmod 0777 /sys/devices/platform/omapdss/display1/timings
    chmod 0777 /sys/devices/platform/omapdss/display1/ulps
	chmod 0777 /sys/devices/platform/omapdss/display1/ulps_timeout
    chmod 0777 /sys/devices/platform/omapdss/display1/update_mode
	chmod 0777 /sys/devices/platform/omapdss/display1/wss
	
	#HDMI
	chown system system /sys/devices/platform/omapdss/display1/enabled
	chown system system /sys/devices/platform/omapdss/display1/bestScore
	chown system system /sys/devices/platform/omapdss/display1/deepcolor
	chown system system /sys/devices/platform/omapdss/display1/edid
	chown system system /sys/devices/platform/omapdss/display1/mirror
	chown system system /sys/devices/platform/omapdss/display1/rotate
	chown system system /sys/devices/platform/omapdss/display1/s3d_enable
	chown system system /sys/devices/platform/omapdss/display1/s3d_type
	chown system system /sys/devices/platform/omapdss/display1/tear_elim
	chown system system /sys/devices/platform/omapdss/display1/timings
	chown system system /sys/devices/platform/omapdss/display1/uevent
	chown system system /sys/devices/platform/omapdss/display1/update_mode
	chown system system /sys/devices/platform/omapdss/display1/wss
	
	chmod 0777 /sys/devices/platform/omapdss/display1/enabled
    chmod 0777 /sys/devices/platform/omapdss/display1/bestScore

	chmod 0777 /sys/devices/platform/omapdss/display1/deepcolor
    chmod 0777 /sys/devices/platform/omapdss/display1/edid
	chmod 0777 /sys/devices/platform/omapdss/display1/mirror
    chmod 0777 /sys/devices/platform/omapdss/display1/rotate
	chmod 0777 /sys/devices/platform/omapdss/display1/s3d_enable
    chmod 0777 /sys/devices/platform/omapdss/display1/s3d_type
	chmod 0777 /sys/devices/platform/omapdss/display1/tear_elim
    chmod 0777 /sys/devices/platform/omapdss/display1/uevent
	chmod 0777 /sys/devices/platform/omapdss/display1/update_mode
    chmod 0777 /sys/devices/platform/omapdss/display1/wss
	
	# change permissions for LCD Gamma Tuning
    chown system radio /sys/devices/omapdss/display0/gamma_tuning
    chmod 0660 /sys/devices/omapdss/display0/gamma_tuning
	
	chown system system /sys/class/mhl_orient/mhl_dev_orient/MHL_orient
    chmod 0660 /sys/class/mhl_orient/mhl_dev_orient/MHL_orient

####ICS V30A MOD defcomg
 
    #change permissions for LCD backlightness
    chmod 0664 /sys/devices/platform/i2c_omap.2/i2c-2/2-0036/brightness
    #AT command AT%LEDON
    chmod 0664 /sys/devices/platform/keypad_led/leds/keyboard-backlight/brightness
    #AT command AT%GKPD
    chmod 0664 /sys/devices/platform/omap-keypad/key_test_mode

    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/flash
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/flash_brightness
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/torch
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/enable

#LGE_KERNEL_MUX START  jongho3.lee@lge.com
    chown root  radio /sys/class/power_supply/battery/gauge_control
    chown root  radio /sys/class/power_supply/battery/voltage_now


### END OF LGE STUFFS

    # flashlight
    chown system camera /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/torch
    chmod 0660          /sys/devices/platform/i2c_omap.2/i2c-2/2-0053/torch

# Allow everybody to read the xt_qtaguid resource tracking misc dev.
# This is needed by any process that uses socket tagging.
    chmod 0644 /dev/xt_qtaguid

on fs
    mount_all ./fstab.cosmo

    ## The sensor blobs use this for calibration
    mkdir /log
    symlink /data/misc /log/misc

# Boost the CPU for 60 sec for boot optimization
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 60000000
    write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 3000000

    #mount ext3 /dev/block/mmcblk0p11 /lgdrm nosuid nodev noatime data=ordered


#TIK_BlueTI
#Bluetooth
#    insmod /system/lib/modules/bluetooth.ko # force_acl_master=1 enable_mgmt=1 enable_le=1
#    insmod /system/lib/modules/rfcomm.ko
#    insmod /system/lib/modules/btwilink.ko
#    insmod /system/lib/modules/bnep.ko
    insmod /system/lib/modules/tty_hci.ko


# UART device
    chmod 0660 /dev/tty01
    chown bluetooth net_bt_stack /dev/tty01

#TIK_End

    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill1/type

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/type

#LGE_CHANGE_S, taewonee.kim@lge.com - TI wifi
    insmod /system/lib/modules/compat.ko
    insmod /system/lib/modules/cfg80211.ko
    insmod /system/lib/modules/mac80211.ko
    insmod /system/lib/modules/wl12xx.ko #debug_level=0x63c00
#LGE_CHANGE_E, taewonee.kim@lge.com - TI wifi


on post-fs
#LGE_CHANGE_S [taehwan.kim@lge.com] 2010-05-04, 27.8.2 patch., 27.10.1 patch
# power management
    # mount debugfs
    mkdir /debug
    mount debugfs debugfs /debug

    # switch CPUfreq from performance to ondemand & tune it
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 70

    # Enabling write by applications such as Web Browser for Performance Boost
    chmod 0664 /sys/devices/system/cpu/cpu1/online
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    # Enable Smart Reflex in debugfs
    write /debug/pm_debug/smartreflex/sr_core/autocomp 1
    write /debug/pm_debug/smartreflex/sr_iva/autocomp 1
    write /debug/pm_debug/smartreflex/sr_mpu/autocomp 1

    # Enable off mode by default
    write /debug/pm_debug/enable_off_mode 1
#LGE_CHANGE_E [kibum.lee@lge.com] 2010-12-09, 27.8.2 patch, 27.10.1 patch

on post-fs-data
    chown radio radio /dev/block/mmcblk0p2
    chown radio radio /dev/block/mmcblk0p3
    chmod 0660 /dev/block/mmcblk0p2
    chmod 0660 /dev/block/mmcblk0p3

# LGE_CHANGE_S Wi-Fi jiwoong.eom@lge.com 20101124 for SoftAP
    mkdir /data/misc/wifi/softap 0771 wifi wifi
# LGE_CHANGE_E Wi-Fi jiwoong.eom@lge.com 20101124 for SoftAP
    # Copying hostapd.conf (WLAN soft AP)
    copy /system/etc/wifi/softap/hostapd.conf /data/misc/wifi/hostapd.conf
    chown wifi radio /data/misc/wifi
    mkdir /data/misc/dhcp 0777 dhcp dhcp
# LGE_CHANGE_E Wi-Fi jiwoong.eom@lge.com 20101124 for SoftAP
    mkdir /data/misc/wifi/sockets 0771 wifi wifi

    setprop vold.post_fs_data_done 1

    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

on boot
### LGE GPS
# gps permissions
    chown system system /sys/devices/platform/gps_gpio/poweron
    chown system system /sys/devices/platform/gps_gpio/reset
    mkdir /data/gps 0775 system net_raw
    mkdir /data/gps/var 0775 system net_raw
    mkdir /data/gps/run 0775 system net_raw
    mkdir /data/gps/log 0770 system net_raw
    mkdir /data/cache
    chmod 777 /data/cache

service pvrsrvinit /vendor/bin/pvrsrvinit
    class core
    user root
    oneshot


# Lazy way go get things done when /system(/build.prop) is up
on property:ro.product.device=p920
    wait /sys/class/rfkill/rfkill0/type
    start uim
    wait /data/misc/wifi
    start wlan_precheck

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n wlan0
    class main
    disabled
    oneshot

service hostapd_bin /system/bin/hostapd -d /data/misc/wifi/hostapd.conf
    socket wpa_wlan1 dgram 660 wifi wifi
    disabled
    oneshot

service wlan_precheck /system/bin/wlan-precheck
    class main
    disabled
    oneshot

# load IVA firmware
#service baseimage /system/bin/syslink_daemon.out /system/base_image_sys_m3.xem3 /system/base_image_app_m3.xem3
#    class core
#     critical
#     user media
#     group media
#     oneshot

service uim /system/bin/uim-sysfs
    class main
    user root
    group media bluetooth
    disabled
    oneshot

service hciattach /system/bin/hciattach -l
    class main
    user root
    group bluetooth net_bt_admin misc
    disabled
    oneshot

## GPS
service glgps /system/bin/glgps -c /system/etc/gps_brcm_conf.xml
    class main
    user system
    group net_raw sdcard_rw system net_admin inet

service lgcpversion /system/bin/lgcpversion
    class late_start
    user root
    oneshot

service charger /charger
    class charger
    user root
    group root
    oneshot
