on early-init

	# create mountpoints
    mkdir /mnt 0700 system system
    mkdir /storage 0700 root system
    mkdir /mnt/shell/sdcard 0700 shell shell
    # Create mountpoint so Dalvik can mark as slave in zygotes.
    #mount tmpfs tmpfs /storage mode=0050,uid=0,gid=1028

on init

	# KitKat SDCARD
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
	#chmod 0755 /storage/sdcard0

	mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root
	#chmod 0755 /storage/sdcard1

    export EXTERNAL_STORAGE /storage/sdcard0
	export SECONDARY_STORAGE /storage/sdcard1

    # Support legacy paths
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /storage/sdcard1

on fs

	# disable FUSE property value
    setprop ro.crypto.fuse_sdcard true
	mount_all /fstab.lgep920board

on boot

# FUSE sdcard daemon for rich permissions (runs as media_rw)
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled
